html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Reset CSS */

@charset "utf-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    min-height: 100dvh;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

p,
h1,
h2,
h3,
h4 {
    overflow-wrap: break-word;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

a,
i,
figure,
img,
button,
input[type="button"],
input[type="submit"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
textarea,
button,
select {
    font: inherit;
    border-style: none;
    outline-style: none;
}

    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    button,
    a {
        cursor: pointer;
    }

a {
    text-decoration: none;
    color: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.container {
    max-width: 1200px;
    width: min(100% - 25px, 1080px);
    margin-inline: auto;
    box-sizing: border-box;
}

/* Custom styles -------------------------------------------------------------*/

html {
    font-size: 62.5%;
}

header,
body,
main,
footer,
nav{
    background-color: #1e1e1e !important;
}

img {
    max-width: 25rem;
    height: auto;
    border-radius: 1.2rem;
}

    img:hover {
        opacity: 0.8;
    }

.categories-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1.5rem 3.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    margin: 0.4rem 0.2rem;
    cursor: pointer;
    border-radius: 1.2rem;
    font-weight: bold;
    transition: 0.3s;
}

    button:hover {
        opacity: 0.8;
    }

.hero-banner-section {
    background-image: url('../lib/far-horizon-video-1j23c.png');
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
}

.hero-banner-container {
    padding: 12rem 0;
}

.hero-banner-section,
.about-us-section,
.categories-section {
    padding: 2rem 0;
}

h1,
h2,
h3 {
    color: #fff;
}

h2 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

p {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    color: #fff;
}

.shop-now {
    color: #4CAF50;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

    .shop-now:hover {
        text-decoration: underline;
    }

h3 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tagline {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.platform-name {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: #000000;
    padding: 2rem 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

    nav ul {
        display: flex;
    }

        nav ul li {
            list-style: none;
            margin-right: 2rem;
        }

            nav ul li a {
                text-decoration: none;
                color: #fff;
                font-size: 2rem;
            }

                nav ul li a:hover {
                    text-decoration: underline;
                }


footer {
    background-color: #000000;
    padding: 2rem 0;
    text-align: center;
    color: #fff;
}

    footer p {
        font-size: 1.6rem;
    }
