@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>
        LevelUp Game Store
    </h1>
</div>

<div>
    <div class="hero-banner-container">
        <h2>
            Welcome to the 
        </h2>
    </div>
</div>